*{
	margin: 0;
	padding: 0;
	list-style: none;

}
.container{
	background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
.body{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.body .video{
	padding: 50px 0;
	width: 800px;
	height: 450px;
}
.video video{
	border: 5px solid yellow;
}
.videoInfo p:first-child{
	font-size: 20px;

}
.videoInfo{
	margin: 20px 0;
	text-align: center;

}
.body .audio{
	padding: 100px 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

/*音乐播放器*/
		.audioWrapper{
			padding: 100px 0;
			font:18px Tahoma,Helvetica,Arial,'宋体',sans-serif;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
		 .main{
			display: flex;
			flex-direction: column;
			align-items: center;
			padding-right: 100px;
			border-right: 1px solid white;
		}
		.musicName{
			font-size: 20px;
			font-weight: 800;
			color: white;
		}
		.audio{
			margin-top: 60px;
		}
		.poster{
			position: relative;
		}
		.poster img{
			margin-top: 50px;
			border-radius: 50%;
			width: 200px;
			height: 200px;
			animation: rotation 4s infinite linear;
			animation-play-state: paused;
			border: 5px solid rgba(255,255,255,0.3);
		}
		.poster div{
			position: absolute;
			width: 205px;
			height: 205px;
			border-width: 1px;
			border-style: solid;
			border-radius: 50%;
			z-index: 0;
			bottom: 5px;
			left: 0px;
			animation: scale 3s infinite linear;
			animation-play-state: paused;
			transform: all 2s;
		}

		@keyframes scale{
			0%{
				border-color: rgba(255,255,255,0.7);
			}
			100%{
				border-color: rgba(255,255,255,0);
				transform: scale(1.3);
			}
		}
		@keyframes rotation{
			0%{
				transform: rotate(0turn);
			}
			100%{
				transform: rotate(1turn);
			}
		}
		
		.body .lyric{
			margin:30px 0;
			height: 400px;
			overflow: hidden;
			text-align: center;
		}
		.body .lyric p{
			line-height: 30px;
			color: black;
			color: rgba(255,255,255,0.7);
		}

		.last{
			display: inline-block;
			height: 0px;
			border-right: 10px solid black;
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent;
		}
		.next{
			display: inline-block;
			height: 0px;
			border-left: 10px solid black;
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent;
		}
/*放大镜*/
		.box {
			padding: 100px 0;
			height: 350px;
			width: 350px;
		    margin:100px;
		    border: 1px solid #ccc;
		    position: relative;
		}    
		.big {
    		width: 400px;
     		height: 400px;
            position: absolute;
            top: 0;
            left: 360px;
            border: 1px solid #ccc;
            overflow: hidden;
            display: none;
        }
        .mask {
            width: 175px;
            height: 175px;
            background: rgba(255, 255, 0, 0.4);
            position: absolute;
            top: 0;
            left: 0;
            cursor: move;
            display: none;
        }
        .small {
            position: relative;
        }
        img {
            vertical-align: top;
        }        
/*轮播图*/
		#lunbo{
			position: relative;
			height: 100vh;
			max-height: 657px;
			max-width: 100px;
		}
		.body .imgWrapper {
			position: absolute;
			top: 250px;
		}
		.body .imgWrapper li{
			position: absolute;
			bottom: -200px;
			transition:all 1s;
			cursor: pointer;
		}

		.body .imgWrapper img{
			
			height: 290px;
			width: 290px;
			border: 5px solid yellow;
			
		}
		.body .imgWrapper li:hover{
			z-index: 4;
			transform:scale(1.5) skew(0deg,0deg); 
		}
		.first-img{
			z-index: 1;
			left: -350px;
		}
		.second-img{
			z-index: 2;
			left: -400px;
			transform: translateY(-50px);
		}
		.third-img{
			z-index: 3;
			left: -150px;
			transform: translateY(50px) scale(1.2);
		}
		.forth-img{
			z-index: 2;
			left: 100px;
			transform: translateY(-50px);
		}
		.fifth-img{
			z-index: 1;
			left: 50px;
		}
		.change{
			position: absolute;
			top: 250px;
			height: 50px;
			width: 50px;
			z-index: 5;
			cursor: pointer;
			background-color: rgba(255,255,255,0.7);
		}

/*footer*/
.footer{
	position: fixed;
	left: -20px;
	/*background-color: rgba(255,255,255,0.7);*/
	top: 40%;
}
.footer li{
	margin: 5px 0;
	padding-right: 10px;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	background-color: yellow;
	text-align: right;
	width: 100px;
	cursor: pointer;
	box-shadow: 2px 2px 2px white;
	transition: all 500ms;
	

}
.footer a{
	display: inline-block;
	width: 100%;
	color: black!important;
	text-decoration: none!important;
}
.footer li:hover{
	transform: translateX(20px);
}