*{
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB","Microsoft Yahei",sans-serif;
	font-size: 14px;
	list-style: none;
	text-decoration: none;
}
/*p{
	text-indent: 2em;
}*/
.welcome-page{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.welcome-page .welcome-text{
	width: 500px;
	height: 300px;
	font-size: 30px;
    text-align: center;
    line-height: 300px;
    margin: 50px auto;
}
.welcome-page p{
	    margin: 10px auto;
    border: 1px solid gray;
    width: 10%;
    height: 50px;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}
.wapper{
	display: none;
	width: 1349px;
	height: 800px;
	position: relative;
}
.main{
	padding-bottom: 100px;
	position: relative;
}
.header{
	width: 100%;
	height: 48px;
	background-color: #5d5d5e;
	color: white;
	text-align: center;
	position: relative;
	/*overflow: hidden;*/
}
.logo{
	float: left;
	margin-left: 20px;
	margin-right: 30px;
	width: 200px;
	height: 48px;
}
.nav li{
	float: left;
	width: 80px;
	height: 48px;
	font-size: 15px;
	line-height: 48px;
	cursor: pointer;
}
.search input{
	position: absolute;
	top: 9px;
	right: 50px;
	border:none;
	height: 30px;
}
.search img{
	position: absolute;
	top: 9px;
	right: 20px;
	width: 30px;
	height: 30px;
	cursor: pointer;
}
.icon{
	position: absolute;
	top: 9px;
	right: 250px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	transition: all 300ms linear;
	cursor: pointer;
}
.header:after{
	display: block;
	content: "";
	clear: both;
}
.clearfix
{
	clear: both;
}
.footer{
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 50px;
	background-color: #5d5d5e;
	text-align: center;
	line-height: 50px;
}
.icon:hover{
	transform: scale(2,2);
	margin-top: 20px;
	z-index: 2;
}
.icon:hover+.author_info,.author_info:hover{
	display: block;
	animation: move 300ms linear;
}
.author_info:hover+.icon
{
	transform: scale(2,2);
	margin-top: 20px;
	z-index: 2;
}

@-webkit-keyframes move{
	0%{
		transform: translateY(10px);
	}
	100%{
		transform: translateY(0px);
	}
}
.author_info{
	display: none;
	position: absolute;
	top: 48px;
	border:1px gray solid;
	right: 135px;
	width: 260px;
	height: 310px;
	background-color: white;
	z-index: 1;
	color: black;
}
#username{
	display: inline-block;
	margin-top: 30px;
	height: 20px;
	width: 100%;
	font-size: 20px;
	font-weight: 400;
	overflow: hidden;
	text-align: center;
}
.signature{
	display: inline-block;
	height: : 30px;
	width: 100%;
	font-size: 10px;
	font-weight: 200;
	line-height: 30px;
	overflow: hidden;
	text-align: center;
}
.fans,.attent{
	display: inline-block;
	width: 80px;
	height: 20px;
	font-size: 10px;

}
.opera{
	font-size: 22px;
	border-top: 1px #e0e1e5 solid;
    margin-top: 50px;
	
}
.opera a{
	display: block;
    margin: 10px auto;
    width: 80px;
    line-height: 22px;
    text-align: left;
    color: #828b80;
}
.opera a span{
	display: inline-block;
	height: 22px;
	vertical-align: top;
}
.opera a:hover,.exit:hover{
	color: #1faddc;
}
.exit{
	display: block;
	margin: 10px auto;
	height: 20px;
	line-height: 20px;
	color: #828b80;
	cursor: pointer;
}
.float{
	float: left;
}
.tag{
	float: left;
	margin-left: 50px;
	width: 80px;
}
.tag li{
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 15px;
	cursor: pointer;
}
.tag li:hover{
	background-color: gray;
}
.article-list{
	/*float: left;*/
	margin: 50px auto;
	width: 70%;
}
.article-list>ul{
	border-top: 1px gray solid;
}
.article-list li{
	border-bottom: 1px gray solid;
	height: 125px;

}
.article-tag li{
	margin: 10px 10px;
	display: inline;
	height: 15px;
	font-size: 10px;
	font-weight: 200;
	line-height: 15px;
	color: gray;
	cursor: pointer;
}
.article-list li h1{
	display:block;
	margin: 10px 20px;
	height: 30px;
	font-size: 20px;
	line-height: 30px;
	overflow: hidden;
	cursor: pointer;
}
.article-list li h1:hover{
	text-decoration: underline;
}
.author {
	margin: 10px 20px;
	border:0px;
	height: 50px;
}
.author-img{
	margin: 5px 10px;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	display: inline-block;
	cursor: pointer;
}
.author-info{
	display: inline-block;
	margin: 0 20px;
	height: 50px;
	width: 200px;
	vertical-align: top;
}
.author-name{
	display: inline-block;
	width: 100px;
	font-size: 20px;
	font-weight: 300;
	overflow: hidden;
}
.author-attent{
	display: inline-block;
	border: 1px gray solid;
	width: 50px;
	height: 22px;
	font-size: 10px;
	font-weight: 300;
	line-height: 22px;
	text-align: center;
	cursor: pointer;
	vertical-align: top;
}
.fanspan{
	display: inline-block;
	width: 90px;
	margin: 10px 0;
	font-size: 10px;
	font-weight: 300;
}
.articlespan{
	display: inline-block;
	margin: 10px 0;
	width: 90px;
	font-size: 10px;
	font-weight: 300;
}
.perfect-panel{
	display: none;
	float: left;
	margin: 50px 70px;
	border:1px gray solid;
	border-bottom: none;
	width: 370px;
}
.perfect-panel li{
	height: 50px;
	overflow: hidden;
	border-bottom: 1px #acacad solid;
}
.perfect-panel li .head-sculpture{
	float: left;
	margin: 10px 10px;
	width: 30px;
	height: 30px;

}
.perfect-panel li h1{
	display: inline-block;
	width: 260px;
	font-size: 15px;
	font-weight: 300;
	line-height: 50px;
	cursor: pointer;
}
.perfect-panel li h1:hover
{
	text-decoration: underline;
}
.hot{
	float: right;
	margin: 15px 0;
	width: 20px;
	height: 20px;
	display: inline-block;
}
.like-count{
	display: inline-block;
	width: 35px;
	float: right;
	text-align: left;
	font-size: 10px;
	font-weight: 300;
	line-height: 50px;
}
.page-count{
	text-align: center;
	margin:10px auto;
}
.page-count li{
	display: inline-block;
	border:1px solid gray;
	width: 20px;
	height:20px;
	text-align: center;
	font-size: 10px;
	line-height: 20px;
	cursor: pointer;
}
.page-count .last-page,.page-count .next-page{
	width: 50px;
}
.page-count li:hover{
	border:1px solid lightblue;
}
/*.like{
	float: left;
	width: 32px;
	height: 32px;
	position: relative;
	transform: rotate(45deg);
	cursor: pointer;
}
.disc1{
    width: 20px;
    height: 10px;
    border:1px solid gray;
    border-bottom: none;
    border-radius:20px 20px 0  0;
    position: absolute;
    top: 0;
    left: 10px;
}
.disc2{
    width: 10px;
    height: 20px;
    border:1px solid gray;
    border-right: none;
    border-radius:20px  0  0 20px;
    float:left;
    position: absolute;
    top: 10px;
    left: 0;
}
.square{
    width: 20px;
    height: 20px;
    border:1px solid gray;
    border-top: 1px white solid;
    border-left: 1px white solid;
    float: left;
    position: absolute;
    left: 10px;
    top: 10px;
}*/
#load
{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -190px;
	margin-top: -200px;
	border:1px solid gray;
	z-index: 2;
	font-size: 0; 
	text-align: center;
	background-color: #fff;
	width: 380px;
 	height: 400px;
 	border-radius: 100px 50px;
 	animation: remove 1s linear;
}
#load form
{
	font-size: 20px;
	margin-top: 30px;
	text-align: center;
}
#load form input
{
	margin-top: 30px;
	display: block;
	margin: 20px auto;
	width: 270px;
	height: 40px;

}
#bg
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.2;
}

#login
{
	border:0;
	background-color: #31a4f6;
	margin: 20px auto;
	font-size: 15px;
	display:block;
	text-align: center;
	cursor: pointer;
}
#load ul
{
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -50px;
	text-align: center;
	list-style: none;
	font-size: 10px;
	color: gray;
}
#load ul li
{
	padding: 0 5px;
	display: inline-block;
	border-right: 1px solid gray;
}
#load h2
{
	margin: 50px;
	font-weight: 500;
	font-size: 50px;
}
#load #go{
	display: inline-block;
	font-size: 20px;
	height: 20px;
	margin-top: 5px;
	font-size: 20px;
}
#load a,#load ul li{
	color: #526979;
}
#load #go:hover{
	color: lightblue;
}
#load #title{
	margin-top: 5px;
	font-size: 30px;
}
#load img{
	margin-top: 20px;
	margin-left: auto;
	width: 200px;
	height: 200px;

}
@-webkit-keyframes remove{
	0%{
		transform: translateY(-800px);
	}
	100%{
		transform: translateY(0px);
	}
}
.welcome-bg{
	width: 100%;
	position: absolute;
	height: 662px;
	overflow: hidden;
	z-index: -2;
}
.welcome-bg img{
	position: absolute;
	bottom: 0px;
	width: 100px;
	height: 200px;
	z-index: -1;
}
.img1{
	left: 50px;
	animation-delay: 10s;
	animation: ballmove 10s linear infinite;
}
.img2{
	right: 290px;
	animation-delay: 2s;
	-webkit-animation: ballmove 10s linear infinite;
}
.img3{
	right: 160px;
	animation: ballmove 3s linear infinite;
}
.img4{

	left: 400px;
	animation: ballmove 5s linear infinite;
}
.img5{
	left: 500px;
	animation: ballmove 15s linear infinite;
}
@-webkit-keyframes ballmove{
	0%{
		transform: translateY(200px);
	}
	100%{
		transform: translateY(-670px);
	}
}
